<main>
  <div class="page-admin-link">
    <a href="/tenants">Manage Tenants</a>
  </div>
  <div class="page-admin-link">
    <a href="/flats">Manage Flats</a>
  </div>
  <div class="page-admin-link">
    <a href="/rentals">Manage Rentals</a>
  </div>
  <!-- <div class="page-admin-link">
    <a href="/flats_matches/index">Show Tenants Mtches</a>
  </div> -->
</main>
