<main>
  <div class="page-admin-link">
    <a href="/tenants"><button class="blue-button button">Manage Tenants</button></a>
  </div>
  <div class="page-admin-link">
    <a href="/flats"><button class="blue-button button">Manage flats</button></a>
  </div>
  <div class="page-admin-link">
    <a href="/rentals"><button class="blue-button button">Manage Rentals</button></a>
  </div>
  <!-- <div class="page-admin-link">
    <a href="/flats_matches/index">Show Tenants Mtches</a>
  </div> -->
</main>
