<div class="margin">
<div class="border"></div>
<div class="admin">
    <a href="/tenants"><button class="admin-button">Manage Tenants</button></a>

    <a href="/flats"><button class="admin-button">Manage flats</button></a>

    <a href="/rentals"><button class="admin-button">Manage Rentals</button></a>

  <!-- <div class="page-admin-link">
    <a href="/flats_matches/index">Show Tenants Mtches</a>
  </div> -->
</div>
</div>
