
<div class="content-display">
  <main class="content-container">
  <div class="about"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus est enim, eget varius tellus iaculis ut. Sed accumsan volutpat dolor, sit amet tempus nunc scelerisque sit amet. Cras sed urna sem. </p>
  </div>
  <div><a href="/tenants/new"><button class="blue-button button">Tell us more about yourself</button></a>
  </div>
</main>

  <div class="contenthead">
    <div class="content-host-tenant"><p>Become a host with Lorem ipsum you can stop worrying about your properties
      and be a man of leisure with just one account.</p>
    </div>
    <div class="content-host-tenant"><p>Become a tenant with Lorem Ipsum you can easily find your new place and add match some new interesting individuals to live with</p>
    </div>
  </div>

  </div>
