<!DOCTYPE html>
<html>
<html lang="">
<head>
  <meta charset="utf-8"/>
  <title>Name of the agency</title>
  <meta name="keywords" content="" />
  <meta  http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
</head>
<body>
  <header>
    <div class="logo"><a href="/">Logo Srogo</div>
      <nav>
        <ul>
          <li>
            <a href="/flats/new">Become a host</a>
          </li>
          <li>
            <a href="/tenants/new">Become a tenant</a>
          </li>
          <li>
            <a href="/admin">Admin</a>
          </li>
          <!-- <li>
          <a href="/tenants/login">Log in</a>
        </li> -->
      </ul>
    </nav>
  </header>
  <section id="content">
    <%= yield %>
  </section>
  <div class="footer">
		My first Full Stack Project &copy; 2018
	</div>
</body>
</html>
