
<div class="manage-tenants">
  <form action="/rentals" method="post">
  <label for="tenant_id"></label>
  <select class="input-styling" name="tenant_id" placeholder="Choose tenant">

    <%for tenant in @tenants_filtered%>
      <option value="<%=tenant.id%>"><%=tenant.name%></option>
    <%end%>
    <input type="hidden" name="flat_id" value="<%=@flat.id%>">
  </select>
  <input class="blue-button button" type="submit" value="Add tenant">
</form>
</div>
