<form class= action="/rentals" method="post">
  <label for="tenant_id"></label>
  <select name="tenant_id" placeholder="Choose tenant">

    <%for tenant in @tenants%>
      <option value="<%=tenant.id%>"><%=tenant.name%></option>
    <%end%>
    <input type="hidden" name="flat_id" value="<%=@flat.id%>">
  </select>
  <input class="blue-button button" type="submit" value="Add tenant">
</form>
