<%for tenant in @tenants%>
<section class="manager-data">
  <p>ID: <%=tenant.id%></p>
  <p>First name: <%=tenant.first_name%></p>
  <p>Last name: <%=tenant.last_name%></p>
  <a href="/tenants/<%=tenant.id%>"><button>SHOW DETAILS</button></a>
<%end%>
