<h1>login details  </h1>

<div class="login-page_form">
  <form id="page-main-id" class="login-form" action="/tenants" method="POST">

    <label for="user_name"></label>
    <input type="text" placeholder="Username" name="user_name">

    <label for="password"></label>
    <input type="number" placeholder="Password" name="password">
    <input type="submit" value="NEXT">
  </form>

  <!-- <meta http-equiv="refresh" content="3;url=/" /> -->
</div>
