* {
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    background-color: rgb(253,253,253);
    font-family: Raleway, helvetica, sans-serif;
    height: 1200px;
    margin: 0;
}

.header
{
  background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 30;
    width: 100%;
    max-height: 120px;
}
.nav
{
    background-color: rgb(255, 255, 255);
    width: auto;
    min-width: 500px;
    max-height: 50px;
    padding: 0;
    min-height: 46px;
    display: inline-block;
    float: right;
    margin-top: 28px;
}
