<%for flat_match in @flat_matches%>
<section class="manager-data">
  <p>ID: <%=flat_match.id%></p>
  <p>Flat ID: <%=flat_match.flat_id%></p>
  <p>Tenant ID: <%=flat_match.tenant_id%></p>
</section>
<%end%>
